.channels {
    background-color: #242526;
    min-width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.channelsName {
    text-align: center;
}