.main {
    background-color: #afb2b5;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.channels {
    background-color: #717375;
    min-width: 200px;
}

.channel {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messages {
    flex: '1 1 auto';
    height: '100%';
    overflow: 'auto';
}

ul{
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
}

.chatMessage {
    background-color: #db2323,
}

.message {
    margin: .2rem;
    padding: .2rem;
    background-color: #66728E;
}

.message:hover{
    background-color: rgba(255,255,255,.2);
}

.form {
    border-top: 2px solid #373B44;
    padding: .5rem;
    display: flex;
}

.content {
    flex: 1 1 auto;
    margin-right: .5rem;
}

.send {
    background-color: '#D6DDEC';
    padding: '.2rem .5rem';
    border: 'none';
}

.send:hover{
    background-color: #2A4B99;
    cursor: pointer;
    color: #fff;
}